.blog-section {
    padding: 5rem 0;
    margin-top: 90px;
}

.blog-title {
    font-size: 3.6rem;
    font-weight: 600;
    text-align: center;
}

.all-question {
    margin-top: 2rem;
}

.question-1 {
    font-size: 2.4rem;
    font-weight: 500;
    text-align: center;
}

.answer-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.javascript h4 {
    font-size: 2.4rem;
    font-weight: 500;
    color: #000;
}

.javascript-text span {
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: 10px;
    display: block;
    width: 88%;
    margin-top: 10px;
}

.node h4 {
    font-size: 2.4rem;
    font-weight: 500;
    color: #000;
}

.node-text span {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 10px;
    display: block;
}

.question-2 {
    font-size: 2.4rem;
    font-weight: 500;
    text-align: center;
    margin-top: 40px;
}

.answer-2 {
    margin-top: 30px;
}

.answer-2 p {
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    width: 73%;
    margin: 0 auto;
}

.question-3 {
    font-size: 2.4rem;
    font-weight: 500;
    text-align: center;
    margin-top: 60px;
}

.answer-3 {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.sql h4 {
    font-size: 2.4rem;
    font-weight: 500;
    color: #000;
}

.sql-text span {
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: 10px;
    display: block;
    width: 88%;
    margin-top: 10px;
}

.no-sql h4 {
    font-size: 2.4rem;
    font-weight: 500;
    color: #000;
}

.no-sql-text span {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 10px;
    display: block;
}

.question-4 {
    font-size: 2.4rem;
    font-weight: 500;
    text-align: center;
    margin-top: 60px;
}

.answer-4 p {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 88%;
    margin-top: 20px;
}

// responsive breakpoints



@media screen and (min-width:1800px) and (max-width: 1920px) {
    .container {
        padding: 0 4rem;
    }

    html {
        font-size: 58.5%;
    }

    .blog-title {
        font-size: 4.6rem;
        font-weight: 600;
        text-align: center;
    }

    .question-1 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
    }

    .javascript h4 {
        font-size: 2.6rem;
        font-weight: 600;
        color: #000;
    }

    .javascript-text span {
        font-size: 2.2rem;
        font-weight: 400;
        margin-top: 10px;
        display: block;
        width: 75%;
        margin-top: 10px;
    }

    .node h4 {
        font-size: 2.6rem;
        font-weight: 600;
        color: #000;
    }

    .node-text span {
        font-size: 2.2rem;
        font-weight: 400;
        margin-top: 10px;
        display: block;
        width: 85%;
        margin-top: 10px;
    }

    .question-2 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
        width: 50%;
        margin: 0 auto;
        margin-top: 40px;
    }

    .answer-2 p {
        font-size: 2.2rem;
        font-weight: 400;
        text-align: center;
        width: 73%;
        margin: 0 auto;
    }

    .question-3 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
        margin-top: 60px;
    }

    .sql h4 {
        font-size: 2.6rem;
        font-weight: 500;
        color: #000;
    }

    .sql-text span {
        font-size: 2.2rem;
        font-weight: 400;
        margin-top: 10px;
        display: block;
        width: 88%;
        margin-top: 10px;
    }

    .no-sql h4 {
        font-size: 2.6rem;
        font-weight: 500;
        color: #000;
    }

    .no-sql-text span {
        font-size: 2.2rem;
        font-weight: 400;
        margin-bottom: 10px;
        display: block;
    }

    .question-4 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
        width: 40%;
        margin: 0 auto;
        margin-top: 40px;
    }

    .answer-4 p {
        font-size: 2.2rem;
        font-weight: 400;
        margin: 0 auto;
        display: block;
        text-align: center;
        width: 75%;
        margin-top: 20px;
    }

    .payment-img {
        width: 35%;
    }

}
@media screen and (min-width:1600px) and (max-width: 1799px) {
    .container {
        padding: 0 4rem;
    }

    html {
        font-size: 58.5%;
    }

    .blog-title {
        font-size: 4.6rem;
        font-weight: 600;
        text-align: center;
    }

    .question-1 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
    }

    .javascript h4 {
        font-size: 2.6rem;
        font-weight: 600;
        color: #000;
    }

    .javascript-text span {
        font-size: 2.2rem;
        font-weight: 400;
        margin-top: 10px;
        display: block;
        width: 75%;
        margin-top: 10px;
    }

    .node h4 {
        font-size: 2.6rem;
        font-weight: 600;
        color: #000;
    }

    .node-text span {
        font-size: 2.2rem;
        font-weight: 400;
        margin-top: 10px;
        display: block;
        width: 85%;
        margin-top: 10px;
    }

    .question-2 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
        width: 50%;
        margin: 0 auto;
        margin-top: 40px;
    }

    .answer-2 p {
        font-size: 2.2rem;
        font-weight: 400;
        text-align: center;
        width: 73%;
        margin: 0 auto;
    }

    .question-3 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
        margin-top: 60px;
    }

    .sql h4 {
        font-size: 2.6rem;
        font-weight: 500;
        color: #000;
    }

    .sql-text span {
        font-size: 2.2rem;
        font-weight: 400;
        margin-top: 10px;
        display: block;
        width: 88%;
        margin-top: 10px;
    }

    .no-sql h4 {
        font-size: 2.6rem;
        font-weight: 500;
        color: #000;
    }

    .no-sql-text span {
        font-size: 2.2rem;
        font-weight: 400;
        margin-bottom: 10px;
        display: block;
    }

    .question-4 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
        width: 40%;
        margin: 0 auto;
        margin-top: 40px;
    }

    .answer-4 p {
        font-size: 2.2rem;
        font-weight: 400;
        margin: 0 auto;
        display: block;
        text-align: center;
        width: 75%;
        margin-top: 20px;
    }

    .payment-img {
        width: 35%;
    }

}
@media screen and (min-width:1400px) and (max-width: 1599px) {
    .container {
        padding: 0 4rem;
    }

    html {
        font-size: 53.5%;
    }

    .blog-title {
        font-size: 4.6rem;
        font-weight: 600;
        text-align: center;
    }

    .question-1 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
    }

    .javascript h4 {
        font-size: 2.6rem;
        font-weight: 600;
        color: #000;
    }

    .javascript-text span {
        font-size: 2.2rem;
        font-weight: 400;
        margin-top: 10px;
        display: block;
        width: 75%;
        margin-top: 10px;
    }

    .node h4 {
        font-size: 2.6rem;
        font-weight: 600;
        color: #000;
    }

    .node-text span {
        font-size: 2.2rem;
        font-weight: 400;
        margin-top: 10px;
        display: block;
        width: 85%;
        margin-top: 10px;
    }

    .question-2 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
        width: 50%;
        margin: 0 auto;
        margin-top: 40px;
    }

    .answer-2 p {
        font-size: 2.2rem;
        font-weight: 400;
        text-align: center;
        width: 73%;
        margin: 0 auto;
    }

    .question-3 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
        margin-top: 60px;
    }

    .sql h4 {
        font-size: 2.6rem;
        font-weight: 500;
        color: #000;
    }

    .sql-text span {
        font-size: 2.2rem;
        font-weight: 400;
        margin-top: 10px;
        display: block;
        width: 88%;
        margin-top: 10px;
    }

    .no-sql h4 {
        font-size: 2.6rem;
        font-weight: 500;
        color: #000;
    }

    .no-sql-text span {
        font-size: 2.2rem;
        font-weight: 400;
        margin-bottom: 10px;
        display: block;
    }

    .question-4 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
        width: 40%;
        margin: 0 auto;
        margin-top: 40px;
    }

    .answer-4 p {
        font-size: 2.2rem;
        font-weight: 400;
        margin: 0 auto;
        display: block;
        text-align: center;
        width: 75%;
        margin-top: 20px;
    }

    .payment-img {
        width: 35%;
    }

}
@media screen and (min-width:1200px) and (max-width: 1399px) {
    .container {
        padding: 0 4rem;
    }

    html {
        font-size: 53.5%;
    }

    .blog-title {
        font-size: 4.6rem;
        font-weight: 600;
        text-align: center;
    }

    .question-1 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
    }

    .javascript h4 {
        font-size: 2.6rem;
        font-weight: 600;
        color: #000;
    }

    .javascript-text span {
        font-size: 2.2rem;
        font-weight: 400;
        margin-top: 10px;
        display: block;
        width: 75%;
        margin-top: 10px;
    }

    .node h4 {
        font-size: 2.6rem;
        font-weight: 600;
        color: #000;
    }

    .node-text span {
        font-size: 2.2rem;
        font-weight: 400;
        margin-top: 10px;
        display: block;
        width: 85%;
        margin-top: 10px;
    }

    .question-2 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
        width: 50%;
        margin: 0 auto;
        margin-top: 40px;
    }

    .answer-2 p {
        font-size: 2.2rem;
        font-weight: 400;
        text-align: center;
        width: 73%;
        margin: 0 auto;
    }

    .question-3 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
        margin-top: 60px;
    }

    .sql h4 {
        font-size: 2.6rem;
        font-weight: 500;
        color: #000;
    }

    .sql-text span {
        font-size: 2.2rem;
        font-weight: 400;
        margin-top: 10px;
        display: block;
        width: 88%;
        margin-top: 10px;
    }

    .no-sql h4 {
        font-size: 2.6rem;
        font-weight: 500;
        color: #000;
    }

    .no-sql-text span {
        font-size: 2.2rem;
        font-weight: 400;
        margin-bottom: 10px;
        display: block;
    }

    .question-4 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
        width: 40%;
        margin: 0 auto;
        margin-top: 40px;
    }

    .answer-4 p {
        font-size: 2.2rem;
        font-weight: 400;
        margin: 0 auto;
        display: block;
        text-align: center;
        width: 75%;
        margin-top: 20px;
    }

    .payment-img {
        width: 35%;
    }

}
@media screen and (min-width:1020px) and (max-width: 1199px) {
    .container {
        padding: 0 4rem;
    }

    html {
        font-size: 51.5%;
    }

    .blog-title {
        font-size: 4.6rem;
        font-weight: 600;
        text-align: center;
    }

    .question-1 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
    }

    .javascript h4 {
        font-size: 2.6rem;
        font-weight: 600;
        color: #000;
    }

    .javascript-text span {
        font-size: 2.2rem;
        font-weight: 400;
        margin-top: 10px;
        display: block;
        width: 75%;
        margin-top: 10px;
    }

    .node h4 {
        font-size: 2.6rem;
        font-weight: 600;
        color: #000;
    }

    .node-text span {
        font-size: 2.2rem;
        font-weight: 400;
        margin-top: 10px;
        display: block;
        width: 85%;
        margin-top: 10px;
    }

    .question-2 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
        width: 50%;
        margin: 0 auto;
        margin-top: 40px;
    }

    .answer-2 p {
        font-size: 2.2rem;
        font-weight: 400;
        text-align: center;
        width: 73%;
        margin: 0 auto;
    }

    .question-3 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
        margin-top: 60px;
    }

    .sql h4 {
        font-size: 2.6rem;
        font-weight: 500;
        color: #000;
    }

    .sql-text span {
        font-size: 2.2rem;
        font-weight: 400;
        margin-top: 10px;
        display: block;
        width: 88%;
        margin-top: 10px;
    }

    .no-sql h4 {
        font-size: 2.6rem;
        font-weight: 500;
        color: #000;
    }

    .no-sql-text span {
        font-size: 2.2rem;
        font-weight: 400;
        margin-bottom: 10px;
        display: block;
    }

    .question-4 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
        width: 40%;
        margin: 0 auto;
        margin-top: 40px;
    }

    .answer-4 p {
        font-size: 2.2rem;
        font-weight: 400;
        margin: 0 auto;
        display: block;
        text-align: center;
        width: 75%;
        margin-top: 20px;
    }

    .payment-img {
        width: 35%;
    }

}
@media screen and (min-width:992px) and (max-width: 1019px) {
    .container {
        padding: 0 4rem;
    }

    html {
        font-size: 47.5%;
    }

    .blog-title {
        font-size: 4.6rem;
        font-weight: 600;
        text-align: center;
    }

    .question-1 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
    }

    .javascript h4 {
        font-size: 2.6rem;
        font-weight: 600;
        color: #000;
    }

    .javascript-text span {
        font-size: 2.2rem;
        font-weight: 400;
        margin-top: 10px;
        display: block;
        width: 75%;
        margin-top: 10px;
    }

    .node h4 {
        font-size: 2.6rem;
        font-weight: 600;
        color: #000;
    }

    .node-text span {
        font-size: 2.2rem;
        font-weight: 400;
        margin-top: 10px;
        display: block;
        width: 85%;
        margin-top: 10px;
    }

    .question-2 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
        width: 50%;
        margin: 0 auto;
        margin-top: 40px;
    }

    .answer-2 p {
        font-size: 2.2rem;
        font-weight: 400;
        text-align: center;
        width: 73%;
        margin: 0 auto;
    }

    .question-3 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
        margin-top: 60px;
    }

    .sql h4 {
        font-size: 2.6rem;
        font-weight: 500;
        color: #000;
    }

    .sql-text span {
        font-size: 2.2rem;
        font-weight: 400;
        margin-top: 10px;
        display: block;
        width: 88%;
        margin-top: 10px;
    }

    .no-sql h4 {
        font-size: 2.6rem;
        font-weight: 500;
        color: #000;
    }

    .no-sql-text span {
        font-size: 2.2rem;
        font-weight: 400;
        margin-bottom: 10px;
        display: block;
    }

    .question-4 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
        width: 40%;
        margin: 0 auto;
        margin-top: 40px;
    }

    .answer-4 p {
        font-size: 2.2rem;
        font-weight: 400;
        margin: 0 auto;
        display: block;
        text-align: center;
        width: 75%;
        margin-top: 20px;
    }

    .payment-img {
        width: 35%;
    }

}

@media screen and (min-width:768px) and (max-width: 991px) {
    .container {
        padding: 0 4rem;
    }

    html {
        font-size: 47.5%;
    }

    .blog-title {
        font-size: 4rem;
        font-weight: 600;
        text-align: center;
    }

    .question-1 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
        width: 45%;
        margin: 0 auto;
    }

    .answer-1 {
        display: block;
        margin-top: 40px;
    }

    .javascript h4 {
        font-size: 2.6rem;
        font-weight: 500;
        color: #000;
        text-align: center;
    }

    .javascript-text span {
        font-size: 2.2rem;
        font-weight: 400;
        display: block;
        width: 55%;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
    }

    .node {
        margin-top: 40px;
    }

    .node h4 {
        font-size: 2.8rem;
        font-weight: 600;
        color: #000;
        text-align: center;
    }

    .node-text span {
        font-size: 2.2rem;
        font-weight: 400;
        display: block;
        width: 55%;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
    }

    .question-2 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
        width: 60%;
        margin: 0 auto;
        margin-top: 40px;
    }

    .answer-2 {
        width: 80%;
        margin: 0 auto;
        margin-top: 30px;
    }

    .answer-2 p {
        font-size: 2.2rem;
        font-weight: 400;
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }

    .question-3 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
        width: 40%;
        margin: 0 auto;
        margin-top: 60px;
    }

    .answer-3 {
        display: block;
        margin-top: 30px;
    }

    .sql {
        text-align: center;
    }

    .sql h4 {
        font-size: 2.8rem;
        font-weight: 500;
        color: #000;
    }

    .sql-text span {
        font-size: 2.2rem;
        font-weight: 400;
        display: block;
        width: 100%;
        margin-top: 10px;
    }

    .no-sql {
        text-align: center;
    }

    .no-sql {
        margin-top: 40px;
    }

    .no-sql-text span {
        font-size: 2.2rem;
        font-weight: 400;
        margin-bottom: 10px;
        display: block;
        margin-top: 15px;
    }

    .question-4 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
        width: 44%;
        margin: 0 auto;
        margin-top: 60px;
    }

    .answer-4 p {
        font-size: 2.2rem;
        font-weight: 400;
        margin: 0 auto;
        display: block;
        text-align: center;
        width: 70%;
        margin: 0 auto;
        margin-top: 20px;
    }
}

@media screen and (min-width:576px) and (max-width: 767px) {
    .container {
        padding: 0 4rem;
    }

    html {
        font-size: 47.5%;
    }

    .blog-title {
        font-size: 4rem;
        font-weight: 600;
        text-align: center;
    }

    .question-1 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
        width: 65%;
        margin: 0 auto;
    }

    .answer-1 {
        display: block;
        margin-top: 40px;
    }

    .javascript h4 {
        font-size: 2.6rem;
        font-weight: 500;
        color: #000;
        text-align: center;
    }

    .javascript h4 {
        font-size: 2.8rem;
        font-weight: 600;
        color: #000;
    }

    .javascript-text span {
        font-size: 2.2rem;
        font-weight: 400;
        display: block;
        width: 65%;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
    }

    .node {
        margin-top: 40px;
    }

    .node h4 {
        font-size: 2.8rem;
        font-weight: 600;
        color: #000;
        text-align: center;
    }

    .node-text span {
        font-size: 2.2rem;
        font-weight: 400;
        display: block;
        width: 65%;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
    }

    .question-2 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
        width: 75%;
        margin: 0 auto;
        margin-top: 40px;
    }

    .answer-2 {
        width: 80%;
        margin: 0 auto;
        margin-top: 30px;
    }

    .answer-2 p {
        font-size: 2.2rem;
        font-weight: 400;
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }

    .question-3 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
        width: 65%;
        margin: 0 auto;
        margin-top: 60px;
    }

    .answer-3 {
        display: block;
        margin-top: 30px;
    }

    .sql {
        text-align: center;
    }

    .sql h4 {
        font-size: 2.8rem;
        font-weight: 500;
        color: #000;
    }

    .sql-text span {
        font-size: 2.2rem;
        font-weight: 400;
        display: block;
        width: 100%;
        margin-top: 10px;
    }

    .no-sql {
        text-align: center;
    }

    .no-sql {
        margin-top: 40px;
    }

    .no-sql-text span {
        font-size: 2.2rem;
        font-weight: 400;
        margin-bottom: 10px;
        display: block;
        margin-top: 15px;
    }

    .question-4 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
        width: 55%;
        margin: 0 auto;
        margin-top: 60px;
    }

    .answer-4 p {
        font-size: 2.2rem;
        font-weight: 400;
        margin: 0 auto;
        display: block;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
    }
}

@media screen and (min-width:480px) and (max-width: 575px) {
    .container {
        padding: 0 4rem;
    }

    html {
        font-size: 45.5%;
    }

    .blog-title {
        font-size: 4rem;
        font-weight: 600;
        text-align: center;
    }

    .question-1 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
    }

    .answer-1 {
        display: block;
        margin-top: 40px;
    }

    .javascript h4 {
        font-size: 2.6rem;
        font-weight: 500;
        color: #000;
    }

    .javascript h4 {
        font-size: 2.8rem;
        font-weight: 600;
        color: #000;
    }

    .javascript-text span {
        font-size: 2.2rem;
        font-weight: 400;
        display: block;
        width: 100%;
        margin-top: 10px;
    }

    .node {
        margin-top: 40px;
    }

    .node h4 {
        font-size: 2.8rem;
        font-weight: 600;
        color: #000;
    }

    .node-text span {
        font-size: 2.2rem;
        font-weight: 400;
        display: block;
        width: 100%;
        margin-top: 10px;
    }

    .question-2 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
        margin-top: 40px;
    }

    .answer-2 p {
        font-size: 2.2rem;
        font-weight: 400;
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }

    .question-3 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
        margin-top: 60px;
    }

    .answer-3 {
        display: block;
        margin-top: 30px;
    }

    .sql h4 {
        font-size: 2.8rem;
        font-weight: 500;
        color: #000;
    }

    .sql-text span {
        font-size: 2.2rem;
        font-weight: 400;
        display: block;
        width: 100%;
        margin-top: 10px;
    }

    .no-sql {
        margin-top: 40px;
    }

    .no-sql-text span {
        font-size: 2.2rem;
        font-weight: 400;
        margin-bottom: 10px;
        display: block;
        margin-top: 15px;
    }

    .question-4 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
        margin-top: 60px;
    }

    .answer-4 p {
        font-size: 2.2rem;
        font-weight: 400;
        margin: 0 auto;
        display: block;
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }
}

@media screen and (min-width:375px) and (max-width: 479px) {
    .container {
        padding: 0 4rem;
    }

    html {
        font-size: 45.5%;
    }

    .blog-title {
        font-size: 4rem;
        font-weight: 600;
        text-align: center;
    }

    .question-1 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
    }

    .answer-1 {
        display: block;
        margin-top: 40px;
    }

    .javascript h4 {
        font-size: 2.6rem;
        font-weight: 500;
        color: #000;
    }

    .javascript h4 {
        font-size: 2.8rem;
        font-weight: 600;
        color: #000;
    }

    .javascript-text span {
        font-size: 2.2rem;
        font-weight: 400;
        display: block;
        width: 100%;
        margin-top: 10px;
    }

    .node {
        margin-top: 40px;
    }

    .node h4 {
        font-size: 2.8rem;
        font-weight: 600;
        color: #000;
    }

    .node-text span {
        font-size: 2.2rem;
        font-weight: 400;
        display: block;
        width: 100%;
        margin-top: 10px;
    }

    .question-2 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
        margin-top: 40px;
    }

    .answer-2 p {
        font-size: 2.2rem;
        font-weight: 400;
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }

    .question-3 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
        margin-top: 60px;
    }

    .answer-3 {
        display: block;
        margin-top: 30px;
    }

    .sql h4 {
        font-size: 2.8rem;
        font-weight: 500;
        color: #000;
    }

    .sql-text span {
        font-size: 2.2rem;
        font-weight: 400;
        display: block;
        width: 100%;
        margin-top: 10px;
    }

    .no-sql {
        margin-top: 40px;
    }

    .no-sql-text span {
        font-size: 2.2rem;
        font-weight: 400;
        margin-bottom: 10px;
        display: block;
        margin-top: 15px;
    }

    .question-4 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
        margin-top: 60px;
    }

    .answer-4 p {
        font-size: 2.2rem;
        font-weight: 400;
        margin: 0 auto;
        display: block;
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }
}