.my-items-section {
  padding: 4rem 0;
  padding-bottom: 10rem;
}

.my-items-title {
  font-size: 3.6rem;
  font-weight: 600;
  text-align: center;
}

@media screen and (min-width: 1800px) and (max-width: 1920px) {
  .container {
    padding: 0 4rem;
  }
  html {
    font-size: 62.5%;
  }
  .manage-inventory-title {
    font-size: 5rem;
    font-weight: 600;
    color: #fff;
    width: 50%;
    margin: 0 auto;
  }
  .manage-inventory-subtitle {
    font-size: 2.2rem;
    font-weight: 400;
    color: white;
    width: 52%;
    margin: 25px auto;
  }
  .manage-inventory-hero {
    background-image: linear-gradient(to bottom, rgba(168, 46, 199, 0.52), rgba(19, 73, 117, 0.589)), url(http://localhost:3000/static/media/manage-inventory.fbc9722cd2e6bcf302d1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .manage-inventory_hero_btn {
    width: 17%;
    padding: 6px 32px 6px 32px;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    transition: ease-out 0.3s;
    font-size: 18px;
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    position: relative;
    z-index: 1;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: transparent;
  }
  .manage_inventories_title {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
  }
  .manage_inventories_subtitle {
    font-size: 2.2rem;
    font-weight: 400;
    width: 55%;
    margin: 2rem auto;
    text-align: center;
  }
  .add_new_item {
    text-align: center;
    margin-top: 85px;
    margin: 0 auto;
    margin-top: 80px;
  }
}
@media screen and (min-width: 1600px) and (max-width: 1799px) {
  .container {
    padding: 0 4rem;
  }
  html {
    font-size: 58.5%;
  }
  .manage-inventory-title {
    font-size: 5rem;
    font-weight: 600;
    color: #fff;
    width: 50%;
    margin: 0 auto;
  }
  .manage-inventory-subtitle {
    font-size: 2.2rem;
    font-weight: 400;
    color: white;
    width: 52%;
    margin: 25px auto;
  }
  .manage-inventory-hero {
    background-image: linear-gradient(to bottom, rgba(168, 46, 199, 0.52), rgba(19, 73, 117, 0.589)), url(http://localhost:3000/static/media/manage-inventory.fbc9722cd2e6bcf302d1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .manage-inventory_hero_btn {
    width: 17%;
    padding: 6px 32px 6px 32px;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    transition: ease-out 0.3s;
    font-size: 18px;
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    position: relative;
    z-index: 1;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: transparent;
  }
  .manage_inventories_title {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
  }
  .manage_inventories_subtitle {
    font-size: 2.2rem;
    font-weight: 400;
    width: 55%;
    margin: 2rem auto;
    text-align: center;
  }
  .add_new_item {
    text-align: center;
    margin-top: 85px;
    margin: 0 auto;
    margin-top: 80px;
  }
}
@media screen and (min-width: 1400px) and (max-width: 1599px) {
  .container {
    padding: 0 4rem;
  }
  html {
    font-size: 56.5%;
  }
  .manage-inventory-title {
    font-size: 5rem;
    font-weight: 600;
    color: #fff;
    width: 50%;
    margin: 0 auto;
  }
  .manage-inventory-subtitle {
    font-size: 2.2rem;
    font-weight: 400;
    color: white;
    width: 52%;
    margin: 25px auto;
  }
  .manage-inventory-hero {
    background-image: linear-gradient(to bottom, rgba(168, 46, 199, 0.52), rgba(19, 73, 117, 0.589)), url(http://localhost:3000/static/media/manage-inventory.fbc9722cd2e6bcf302d1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .manage-inventory_hero_btn {
    width: 17%;
    padding: 6px 32px 6px 32px;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    transition: ease-out 0.3s;
    font-size: 18px;
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    position: relative;
    z-index: 1;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: transparent;
  }
  .manage_inventories_title {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
  }
  .manage_inventories_subtitle {
    font-size: 2.2rem;
    font-weight: 400;
    width: 55%;
    margin: 2rem auto;
    text-align: center;
  }
  .add_new_item {
    text-align: center;
    margin-top: 85px;
    margin: 0 auto;
    margin-top: 80px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .container {
    padding: 0 4rem;
  }
  html {
    font-size: 52.5%;
  }
  .manage-inventory-title {
    font-size: 5rem;
    font-weight: 600;
    color: #fff;
    width: 50%;
    margin: 0 auto;
  }
  .manage-inventory-subtitle {
    font-size: 2.2rem;
    font-weight: 400;
    color: white;
    width: 52%;
    margin: 25px auto;
  }
  .manage-inventory-hero {
    background-image: linear-gradient(to bottom, rgba(168, 46, 199, 0.52), rgba(19, 73, 117, 0.589)), url(http://localhost:3000/static/media/manage-inventory.fbc9722cd2e6bcf302d1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .manage-inventory_hero_btn {
    width: 19%;
    padding: 6px 32px 6px 32px;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    transition: ease-out 0.3s;
    font-size: 18px;
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    position: relative;
    z-index: 1;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: transparent;
  }
  .manage_inventories_title {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
  }
  .manage_inventories_subtitle {
    font-size: 2.2rem;
    font-weight: 400;
    width: 55%;
    margin: 2rem auto;
    text-align: center;
  }
  .add_new_item {
    text-align: center;
    margin-top: 85px;
    margin: 0 auto;
    margin-top: 80px;
  }
}
@media screen and (min-width: 1020px) and (max-width: 1199px) {
  .container {
    padding: 0 4rem;
  }
  html {
    font-size: 52.5%;
  }
  .manage-inventory-title {
    font-size: 5rem;
    font-weight: 600;
    color: #fff;
    width: 50%;
    margin: 0 auto;
  }
  .manage-inventory-subtitle {
    font-size: 2.2rem;
    font-weight: 400;
    color: white;
    width: 52%;
    margin: 25px auto;
  }
  .manage-inventory-hero {
    background-image: linear-gradient(to bottom, rgba(168, 46, 199, 0.52), rgba(19, 73, 117, 0.589)), url(http://localhost:3000/static/media/manage-inventory.fbc9722cd2e6bcf302d1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .manage-inventory_hero_btn {
    width: 19%;
    padding: 6px 32px 6px 32px;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    transition: ease-out 0.3s;
    font-size: 18px;
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    position: relative;
    z-index: 1;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: transparent;
  }
  .manage_inventories_title {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
  }
  .manage_inventories_subtitle {
    font-size: 2.2rem;
    font-weight: 400;
    width: 55%;
    margin: 2rem auto;
    text-align: center;
  }
  .add_new_item {
    text-align: center;
    margin-top: 85px;
    margin: 0 auto;
    margin-top: 80px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1019px) {
  .container {
    padding: 0 4rem;
  }
  html {
    font-size: 50.5%;
  }
  .manage-inventory-title {
    font-size: 5rem;
    font-weight: 600;
    color: #fff;
    width: 50%;
    margin: 0 auto;
  }
  .manage-inventory-subtitle {
    font-size: 2.2rem;
    font-weight: 400;
    color: white;
    width: 52%;
    margin: 25px auto;
  }
  .manage-inventory-hero {
    background-image: linear-gradient(to bottom, rgba(168, 46, 199, 0.52), rgba(19, 73, 117, 0.589)), url(http://localhost:3000/static/media/manage-inventory.fbc9722cd2e6bcf302d1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .manage-inventory_hero_btn {
    width: 19%;
    padding: 6px 32px 6px 32px;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    transition: ease-out 0.3s;
    font-size: 18px;
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    position: relative;
    z-index: 1;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: transparent;
  }
  .manage_inventories_title {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
  }
  .manage_inventories_subtitle {
    font-size: 2.2rem;
    font-weight: 400;
    width: 55%;
    margin: 2rem auto;
    text-align: center;
  }
  .add_new_item {
    text-align: center;
    margin-top: 85px;
    margin: 0 auto;
    margin-top: 80px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    padding: 0 4rem;
  }
  html {
    font-size: 47.5%;
  }
  .manage-inventory-title {
    font-size: 5rem;
    font-weight: 600;
    color: #fff;
    width: 50%;
    margin: 0 auto;
  }
  .manage-inventory-subtitle {
    font-size: 2.2rem;
    font-weight: 400;
    color: white;
    width: 60%;
    margin: 25px auto;
  }
  .manage-inventory-hero {
    background-image: linear-gradient(to bottom, rgba(168, 46, 199, 0.52), rgba(19, 73, 117, 0.589)), url(http://localhost:3000/static/media/manage-inventory.fbc9722cd2e6bcf302d1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .manage-inventory_hero_btn {
    width: 25%;
    padding: 6px 32px 6px 32px;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    transition: ease-out 0.3s;
    font-size: 18px;
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    position: relative;
    z-index: 1;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: transparent;
  }
  .manage_inventories_title {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
  }
  .manage_inventories_subtitle {
    font-size: 2.2rem;
    font-weight: 400;
    width: 63%;
    margin: 2rem auto;
    text-align: center;
  }
  .add_new_item {
    text-align: center;
    margin-top: 85px;
    margin: 0 auto;
    margin-top: 80px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .container {
    padding: 0 4rem;
  }
  html {
    font-size: 47.5%;
  }
  .manage-inventory-title {
    font-size: 5rem;
    font-weight: 600;
    color: #fff;
    width: 65%;
    margin: 0 auto;
  }
  .manage-inventory-subtitle {
    font-size: 2.2rem;
    font-weight: 400;
    color: white;
    width: 70%;
    margin: 25px auto;
  }
  .manage-inventory-hero {
    background-image: linear-gradient(to bottom, rgba(168, 46, 199, 0.52), rgba(19, 73, 117, 0.589)), url(http://localhost:3000/static/media/manage-inventory.fbc9722cd2e6bcf302d1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .manage-inventory_hero_btn {
    width: 33%;
    padding: 6px 32px 6px 32px;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    transition: ease-out 0.3s;
    font-size: 18px;
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    position: relative;
    z-index: 1;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: transparent;
  }
  .manage_inventories_title {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
  }
  .manage_inventories_subtitle {
    font-size: 2.2rem;
    font-weight: 400;
    width: 75%;
    margin: 2rem auto;
    text-align: center;
  }
  .add_new_item {
    text-align: center;
    margin-top: 85px;
    margin: 0 auto;
    margin-top: 80px;
  }
}
@media screen and (min-width: 480px) and (max-width: 575px) {
  .container {
    padding: 0 4rem;
  }
  html {
    font-size: 45.5%;
  }
  .manage-inventory-title {
    font-size: 5rem;
    font-weight: 600;
    color: #fff;
    width: 70%;
    margin: 0 auto;
  }
  .manage-inventory-subtitle {
    font-size: 2.2rem;
    font-weight: 400;
    color: white;
    width: 75%;
    margin: 25px auto;
  }
  .manage-inventory-hero {
    background-image: linear-gradient(to bottom, rgba(168, 46, 199, 0.52), rgba(19, 73, 117, 0.589)), url(http://localhost:3000/static/media/manage-inventory.fbc9722cd2e6bcf302d1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .manage-inventory_hero_btn {
    width: 43%;
    padding: 6px 32px 6px 32px;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    transition: ease-out 0.3s;
    font-size: 18px;
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    position: relative;
    z-index: 1;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: transparent;
  }
  .manage_inventories_title {
    text-align: center;
    font-size: 3.6rem;
    font-weight: 600;
  }
  .manage_inventories_subtitle {
    font-size: 2.2rem;
    font-weight: 400;
    width: 75%;
    margin: 2rem auto;
    text-align: center;
  }
  .add_new_item {
    text-align: center;
    margin-top: 85px;
    margin: 0 auto;
    margin-top: 80px;
  }
}
@media screen and (min-width: 375px) and (max-width: 479px) {
  .container {
    padding: 0 4rem;
  }
  html {
    font-size: 45.5%;
  }
  .manage_inventories_title {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
  }
  .manage-inventory-subtitle {
    font-size: 2.2rem;
    font-weight: 400;
    color: white;
    width: 90%;
    margin: 25px auto;
  }
  .manage-inventory-hero {
    background-image: linear-gradient(to bottom, rgba(168, 46, 199, 0.52), rgba(19, 73, 117, 0.589)), url(http://localhost:3000/static/media/manage-inventory.fbc9722cd2e6bcf302d1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .manage-inventory_hero_btn {
    width: 53%;
    padding: 6px 32px 6px 32px;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    transition: ease-out 0.3s;
    font-size: 18px;
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    position: relative;
    z-index: 1;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: transparent;
  }
  .manage_inventories_title {
    text-align: center;
    font-size: 3.6rem;
    font-weight: 600;
  }
  .manage_inventories_subtitle {
    font-size: 2.2rem;
    font-weight: 400;
    width: 90%;
    margin: 2rem auto;
    text-align: center;
  }
  .add_new_item {
    text-align: center;
    margin-top: 85px;
    margin: 0 auto;
    margin-top: 80px;
  }
}/*# sourceMappingURL=ManageItems.css.map */