/* reuse Color */
/* mixin */
.navbar {
  background-color: #8733FF;
  padding: 16px 0;
}
.navbar .navbar-toggler:focus-visible {
  outline: none;
}
.navbar .login_btn {
  padding: 6px 32px 6px 32px;
  border: none;
  color: rgb(0, 0, 0);
  border-radius: 4px;
  transition: ease-out 0.3s;
  font-size: 18px;
  outline: none;
  border: 2px solid rgb(255, 255, 255);
  position: relative;
  z-index: 1;
}
.navbar .login_btn a {
  text-decoration: none;
  color: #000;
}
.navbar .login_btn:hover {
  color: #fff;
  cursor: pointer;
}
.navbar .login_btn::before {
  content: "";
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 50%;
  left: 50%;
  opacity: 0;
  background-color: #8733FF;
}
.navbar .login_btn:hover::before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}
.navbar .logo {
  width: 150px;
  height: auto;
}
.navbar .nav-item:not(:last-child) {
  margin-right: 20px;
}
.navbar .nav-link {
  font-size: 18px;
  color: #fff;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    padding: 0 4rem;
  }
  .navbar-toggle:focus {
    outline: none !important;
  }
  .navbar .logo {
    width: 190px;
    height: auto;
  }
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 18px;
  }
  .login_btn {
    margin-top: 10px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .container {
    padding: 0 4rem;
  }
  .navbar-toggler .hamburger-icon:focus {
    outline: none !important;
  }
  .navbar .logo {
    width: 180px;
    height: auto;
  }
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 18px;
  }
  .login_btn {
    margin-top: 10px;
  }
}
@media screen and (min-width: 480px) and (max-width: 575px) {
  .container {
    padding: 0 4rem;
  }
  .navbar-toggle {
    border: none !important;
    outline: none !important;
  }
  .navbar .logo {
    width: 170px;
    height: auto;
  }
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 18px;
  }
  .login_btn {
    margin-top: 10px;
  }
}
@media screen and (min-width: 375px) and (max-width: 479px) {
  .container {
    padding: 0 4rem;
  }
  .navbar-toggle {
    border: none !important;
    outline: none !important;
  }
  .navbar .logo {
    width: 160px;
    height: auto;
  }
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 18px;
  }
  .login_btn {
    margin-top: 10px;
  }
}/*# sourceMappingURL=Navbar.css.map */