*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: poligon;
  overflow-x: hidden;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

@font-face {
  font-family: poligon;
  src: url(../public/font/Poligon-Bold.woff);
  font-display: block;
  font-weight: 700;
}

@font-face {
  font-family: poligon;
  src: url(../public/font/Poligon-SemiBold.woff);
  font-display: block;
  font-weight: 600;
}

@font-face {
  font-family: poligon;
  src: url(../public/font/Poligon-Medium.woff);
  font-display: block;
  font-weight: 500;
}

@font-face {
  font-family: poligon;
  src: url(../public/font/Poligon-Regular.woff);
  font-display: block;
  font-weight: 400;
}

.scroll-top {
  position: fixed;
  bottom: 15px;
  right: 20px;
}

.top-btn-style{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: pink;
}
