* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: poligon;
  overflow: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  overflow-x: hidden !important;
}

@font-face {
  font-family: poligon;
  src: url(../public/font/Poligon-Bold.woff);
  font-display: block;
  font-weight: 700;
}

@font-face {
  font-family: poligon;
  src: url(../public/font/Poligon-SemiBold.woff);
  font-display: block;
  font-weight: 600;
}

@font-face {
  font-family: poligon;
  src: url(../public/font/Poligon-Medium.woff);
  font-display: block;
  font-weight: 500;
}

@font-face {
  font-family: poligon;
  src: url(../public/font/Poligon-Regular.woff);
  font-display: block;
  font-weight: 400;
}
